In [21]:
import pandas as pd

from category_encoders.ordinal import OrdinalEncoder
from category_encoders.woe import WOEEncoder
from category_encoders.target_encoder import TargetEncoder
from category_encoders.sum_coding import SumEncoder
from category_encoders.m_estimate import MEstimateEncoder
from category_encoders.leave_one_out import LeaveOneOutEncoder
from category_encoders.helmert import HelmertEncoder
from category_encoders.cat_boost import CatBoostEncoder
from category_encoders.james_stein import JamesSteinEncoder
from category_encoders.one_hot import OneHotEncoder

TEST = False

In [30]:
%%time
train = pd.read_csv('../input/train.csv')[:10]
test = pd.read_csv('../input/test.csv')[:10]
target = train['target']
train_id = train['id']
test_id = test['id']
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop('id', axis=1, inplace=True)

train = train.iloc[:,:4]
test = train.iloc[:,:4]

feature_list = list(train.columns[:4]) # you can custumize later.

Wall time: 950 ms

In [31]:
train.shape

(10, 4)

In [32]:
train.head()

   bin_0  bin_1  bin_2 bin_3
0      0      0      0     T
1      0      1      0     T
2      0      0      0     F
3      0      1      0     F
4      0      0      0     F

In [33]:
target.head()

0    0
1    0
2    0
3    1
4    0
Name: target, dtype: int64

## Label Encoding

In [34]:
LE_encoder = OrdinalEncoder(feature_list)
train_le = LE_encoder.fit_transform(train)
test_le = LE_encoder.transform(test)

## sum encoding

In [38]:
feature_list

['bin_0', 'bin_1', 'bin_2', 'bin_3']

In [35]:
SE_encoder =SumEncoder(feature_list)
train_se = SE_encoder.fit_transform(train[feature_list], target)
test_se = SE_encoder.transform(test[feature_list])

In [36]:
train_se.shape

(10, 5)

In [37]:
train_se

   intercept  bin_0  bin_1  bin_2  bin_3_0
0          1      0      0      0      1.0
1          1      0      1      0      1.0
2          1      0      0      0     -1.0
3          1      0      1      0     -1.0
4          1      0      0      0     -1.0
5          1      0      1      1      1.0
6          1      0      1      1      1.0
7          1      1      0      1      1.0
8          1      1      0      1      1.0
9          1      0      0      0     -1.0

In [4]:
feature_list = list(train.columns) # you can custumize later.

In [ ]:
E_encoder =SumEncoder(feature_list)
train_se = SE_encoder.fit_transform(train[feature_list], target)
test_se = SE_encoder.transform(test[feature_list])